<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzc.mapper.RoleMapper">
    <update id="updateRole">
        update role set description =#{description} where roleId=#{id}
    </update>

    <select id="selectAll" resultType="com.zzc.entity.Role">
        select * from role
    </select>
</mapper>
